@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background:radial-gradient(125% 125% at 60% 10%,#000 40%,#63e 100%);
    color: #fff;
    color-scheme: dark;
    font-family: 'Comfortaa Variable', system-ui;
}
